.UsernameBlock{
    font-size: 24px;
    text-align: center;
}

.Avatar{
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid blue;
    width: 200px;
    margin: 0 auto;
}
