* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content{
  background-color: #ffffff;
}

body ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}


a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

h1 {

}


/*Custom Styles*/

.like, .liked {

}



.dislike {
    background: #ff0000;
}

.signup-form {
    width: 30%;
    margin: 0 auto;
}

.blog-btn {
    width: 100%;
    padding: 10px 0 !important;
}


.messages {
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
}

.messages a {
    background: #039be5;
    color: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.messages a:hover {
    text-decoration: none;
    color: #ffffff;
}

.messages div {
    margin-top: 20px;
}

.forgot-password a, .sign-up a, .forgot-password a:hover, .sign-up a:hover {
    background: transparent;
    color: #4267B2;
}

.messages button {
    margin-top: 30px;
}

.header-btn {

}

.username-block {
    font-size: 24px;
}

.username-block .messages {
    font-size: 24px;
}

*::placeholder {
    color: #888888 !important;
}

img {
    width: 100%;
}

.header-avatar {

}

.no-video p {
    font-size: 24px;
}

.avatar-input {
    height: 44px !important;
}

.avatar {

}

.error {
    color: red;
    text-align: center;
}



